<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFinal1.Properties.Settings.ProyectoPrograConnectionString"
            connectionString="Data Source=DESKTOP-UM3GM4C;Initial Catalog=ProyectoProgra;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoFinal1.Properties.Settings.ProyectoProgramacionConnectionString"
            connectionString="Data Source=DESKTOP-KP5I9CP\SQLEXPRESS;Initial Catalog=ProyectoProgramacion;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoFinal1.Properties.Settings.ProyectoProgramacionConnectionString1"
            connectionString="Data Source=DESKTOP-KP5I9CP;Initial Catalog=ProyectoProgramacion;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>